/**
 * CannaBiz theme CSS
 *
 * This file is used to add styles to your website.
 *
 * @link       https://www.deviodigital.com
 * @since      1.0.0
 *
 * @package    CannaBiz
 * @subpackage CannaBiz/css
 */


/*--------------------------------------------------------------
## Universal
--------------------------------------------------------------*/

body {
	background: #EEE;
	color: #454545;
	font-size: 15px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1.4;
	word-wrap: break-word;
}

body.fl-builder #content .container {
    width: 100%;
}

a, a:visited {
	color: #76bd43;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #454545;
	text-decoration: none;
}

a:focus {
	border: 0;
	outline: 0;
	text-decoration: none;
}

p {
	margin: 12px 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: none;
	margin: 24px 0;
}

h1, h2, h3 {
	font-family: 'Playfair Display', 'Open Sans', sans-serif;
	font-weight: 600;
}

h1, h2 {
	font-size: 42px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

hr {
	margin-top: 24px;
	margin-bottom: 24px;
}

ol, ul {
	margin: 12px 0;
	padding: 0;
}

.hentry ol {
    padding-left: 48px;
}

.hentry ul {
	list-style: none;
    padding-left: 48px;
}

.hentry ul li:before {
    color: #454545;
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}

.hentry ul.products li:before,
.hentry ul.page-numbers li:before,
.hentry ul li.blocks-gallery-item:before {
	display: none;
}

/** Elementor li:before removal */

.elementor-editor-section-settings .elementor-editor-element-setting:first-child:before {
	display: inline-block;
	margin-right: 0 !important;
}

/* Forms */

.wpcf7-form label {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="tel"],
textarea,
select {
	padding: 10px;
	transition: .07s ease-in;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #76bd43;
	outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #999;
	font-weight: 400;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-weight: 400;
    color: #999;
}

::-ms-input-placeholder { /* Microsoft Edge */
	font-weight: 400;
    color: #999;
}

/* Buttons */

a.button {
	display: inline-block;
}

a.button,
a.button:visited,
button,
html input[type=button],
input[type=reset],
input[type=submit],
#commentform #submit {
	background: #76bd43;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	color: #FFF;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	padding: 12px 24px;
	transition: .07s ease-in;
	-webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
}

a.button:hover,
button:hover,
html input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
#commentform #submit:hover {
	background: #87d74d;
	box-shadow: none;
	color: #FFF;
}

a.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	box-shadow: none;
	border: none;
	outline: 0;
	color: #FFF;
}

a.button,
a.button:visited {
	background: #76bd43;
}

a.button:hover {
	background: #87d74d;
	color: #FFF;
}

a.button.alt,
a.button.alt:visited {
	background: #AAA;
}

a.button.alt:hover {
	background: #BBB;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	background-color: #76bd43;
	color: #FFF;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: #87d74d;
    color: #FFF;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
	color: #FFF;
}

a.button.add_to_cart_button,
a.button.ajax_add_to_cart,
a.added_to_cart,
.woocommerce ul.products li.product .button {
    text-align: center;
    width: 100%;
}

.hentry.no-results.not-found input.search-submit {
    padding: 12px 24px;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.topbar {
	background-color: #f1f1f1;
	color: #AAA;
	display: block;
	font-size: 14px;
	line-height: 1;
	padding: 0;
	position: relative;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.topbar .fa,
.topbar a,
.topbar a:visited {
	color: #AAA;
	-webkit-transition: .07s ease-in-out;
	transition: .07s ease-in-out;
}

.topbar a:hover .fa,
.topbar a:hover {
	color: #454545;
}

.topbar-email {
	position: relative;
}

.topbar-phone {
	margin-left: 10px;
	position: relative;
}

.topbar-link {
    position: relative;
    margin-right: 10px;
}

.topbar-social {
    float: right;
	padding-bottom: 12px;
	position: relative;
}

.topbar-social a {
	margin: 0 0 0 5px;
}

.topbar img {
    max-height: 13px;
    margin-top: -2px;
}

.topbar img:hover {
	opacity: 0.4;
}

.topbar a.social-massroots,
.topbar a.social-massroots:visited {
	background-color: #AAA;
	mask-image: url(../img/social-massroots.png);
	-webkit-mask-image: url(../img/social-massroots.png);
	display: inline-table;
	height: 13px;
	margin-bottom: -1px;
	text-indent: -9999;
	width: 21px;
}

.topbar a.social-massroots:hover {
	background-color: #454545;
}

.topbar a.social-weedmaps,
.topbar a.social-weedmaps:visited {
	background-color: #AAA;
	mask-image: url(../img/social-weedmaps.png);
	-webkit-mask-image: url(../img/social-weedmaps.png);
	display: inline-table;
	height: 13px;
	margin-bottom: -2px;
	text-indent: -9999;
	width: 21px;
}

.topbar a.social-weedmaps:hover {
	background-color: #454545;
}

.topbar a.social-leafly,
.topbar a.social-leafly:visited {
	background-color: #AAA;
	mask-image: url(../img/social-leafly.png);
	-webkit-mask-image: url(../img/social-leafly.png);
	display: inline-table;
	height: 13px;
	margin-bottom: -1px;
	text-indent: -9999;
	width: 12px;
}

.topbar a.social-leafly:hover {
	background-color: #454545;
}

span.topbar-woocommerce {
    float: right;
    margin-right: 8px;
    border-right: 1px solid #CCC;
    padding-right: 12px;
}

@media screen and (max-width: 768px) {
	span.topbar-woocommerce {
		float: none;
		margin-right: 0;
		padding-right: 0;
		border: 0;
		border-left: 1px solid #ccc;
		margin-left: 12px;
		padding-left: 12px;
	}
}

/** Site Header */

.site-header {
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
	display: block;
	padding: 36px 0;
	position: relative;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.site-header.scroll-to-fixed-fixed {
	padding: 16px 0;
}

body.admin-bar .site-header.scroll-to-fixed-fixed {
    margin-top: 32px;
}

@media screen and (max-width: 768px) {
	.site-header.scroll-to-fixed-fixed {
		padding-top: 0;
	}
	body.admin-bar .site-header.scroll-to-fixed-fixed {
		margin-top: 0;
	}
}

.site-branding {
	float: left;
	display: inline-block;
	position: relative;
	vertical-align: top;
	z-index: 15;
}

.site-branding img {
	max-width: 400px; /* Suggested max-width based on current header style */
}

@media screen and (max-width: 400px) {
	.site-branding img {
		max-width: 100%;
		width: auto;
	}
}

.site-title {
	display: inline-block;
	font-size: 48px;
	line-height: 1;
	margin: 0;
	position: relative;
}

.site-title a,
.site-title a:visited {
    position: relative;
    color: #76bd43;
}

.site-title a:hover {
	color: #454545;
}

.site-description {
	color: #DDD;
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
	margin: 0;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	clear: none;
	display: inline-block;
	float: right;
	position: relative;
	width: auto;
	z-index: 15;
}

@media screen and (min-width: 961px) {
	.main-navigation {
		width: 100%;
		max-width: 700px;
	}
}

@media screen and (max-width: 960px) {
  .main-navigation {
    width: 75%;
  }
}
@media screen and (max-width: 780px) {
  .main-navigation {
    width: 72%;
  }
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	width: 100%;
}

@media screen and (min-width: 961px) {
	.main-navigation ul {
		/** display: flex; */
		/** display: unset; */
		overflow: inherit;
	}
}

.main-navigation li {
	display: inline-block;
	position: relative;
}

@media screen and (min-width: 961px) {
	.main-navigation li {
		float: none;
	}
}

.main-navigation ul ul {
	position: absolute;
	top: 56px;
	left: 0;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	width: 230px;
	text-align: left;
	border-radius: 3px;
	background: #FFF;
	-webkit-transition: all .07s ease-in-out;
	transition: all .07s ease-in-out;
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	padding: 3px 0;
}

@media screen and (max-width: 600px) {
	.main-navigation ul ul {
		box-shadow: none;
	}
	.main-navigation ul {
		background: #87d74d;
		overflow: auto;
		padding: 0;
	}
	.main-navigation ul li.menu-item-home {
		display: none;
	}
}

.main-navigation .show-sub,
.landscape .main-navigation ul.sub-menu {
	opacity: 1;
	visibility: visible;
	z-index: 100;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/* landscape orientation */

.landscape .main-navigation ul.sub-menu {
	display: none;
}

.landscape .main-navigation li:hover > ul,
.landscape .main-navigation li li a:hover > ul {
	display: block;
}

.main-navigation ul ul:before {
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -8px;
	content: " ";
	border-right: 8px solid transparent;
	border-bottom: 8px solid #FFF;
	border-left: 8px solid transparent;
}

.main-navigation ul > li.menu-item-has-children > a:after {
	font-family: "Font Awesome 5 Free";
	font-size: 15px;
	margin-left: 7px;
	content: "\f078";
}

.main-navigation ul ul > li.menu-item-has-children > a:after {
	font-family: "Font Awesome 5 Free";
	font-size: 15px;
	margin-left: 7px;
	content: "\f078";
	float: right;
}

.main-navigation ul ul ul {
	top: 0;
	left: 240px;
}

.main-navigation ul ul ul li:first-child:before {
	position: absolute;
	top: 24px;
	left: -8px;
	content: " ";
	border-top: 8px solid transparent;
	border-right: 8px solid #222;
	border-bottom: 8px solid transparent;
}

.main-navigation ul ul ul:before {
	display: none;
}

.main-navigation ul ul a {
	font-size: 15px;
	font-weight: normal;
	line-height: 2;
	position: relative;
	margin: 0;
	padding: 12px 20px;
	text-transform: none;
	border-bottom: none;
}

.main-navigation ul ul a:hover {
	color: #fff;
}

.main-navigation ul ul li {
	width: 100%;
}

.main-navigation ul ul li:last-child {
	border-bottom: none;
}

.main-navigation ul li.current-menu-item > a {
	-webkit-transition: .07s ease-in-out;
	transition: .07s ease-in-out;
	color: #87d74d;
}

.main-navigation ul > li:hover > a {
	-webkit-transition: .07s ease-in-out;
	transition: .07s ease-in-out;
	color: #87d74d;
}

.main-navigation ul ul li:hover > a {
	border-bottom: none;
}

.sub-menu li.current-menu-item > a {
	font-weight: normal !important;
	color: #454545 !important;
	border-bottom: none !important;
}

.sub-menu li.current-menu-item a:hover {
	color: #454545 !important;
}

.sub-menu li.current-menu-item > a:before {
	display: none;
}

.menu-search {
	padding-left: 10px;
}

.main-navigation a,
.main-navigation a:visited {
	color: #454545;
	display: block;
	font-size: 16px;
	font-weight: 700;
	outline: none;
	padding: 0 20px;
	text-decoration: none;
}

.main-navigation a:hover {
	color: #87d74d;
}

.main-navigation ul > li > a {
	line-height: 3;
}

.main-navigation ul > li:last-child > a {
    padding-right: 0;
}

.main-navigation ul ul a {
	border-bottom: none;
	font-size: 15px;
	font-weight: normal;
	line-height: 2;
	margin: 0;
	padding: 3px 12px;
	position: relative;
	text-transform: none;
	width: auto;
}

.menu-toggle {
	background: #76bd43;
	color: #FFF;
	display: none;
	font-size: 15px;
	font-weight: 400;
	padding: 12px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 10;
}

.menu-toggle:hover {
	background: #87d74d;
}

span.menu-close {
    display: none;
}

.menu-toggle i {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {

	.site-header {
		padding: 0;
	}

	.site-branding {
		text-align: center;
		width: 100%;
	}

	.menu-toggle {
		display: inline-block;
		z-index: 15;
		position: relative;
	}

	.menu-toggle:hover {
		cursor: pointer;
	}

	.main-navigation {
		display: none;
		float: none;
		width: 100%;
		max-width: 100%;
		margin-bottom: 0;
	}

	.main-navigation .show-mobile-sub {
		display: inline-block;
	}

	.main-navigation a {
		display: inline-block;
		font-size: 15px;
		padding: 0;
		width: 100%;
	}

	.main-navigation ul > li > a {
		line-height: 3.5;
	}

	.menu-item-has-children {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}

	.main-navigation ul > li.menu-item-has-children > a:after {
		display: none;
	}

	.main-navigation ul > li.menu-item-has-children:after {
		font-family: "Font Awesome 5 Free";
		position: absolute;
		top: 15px;
		right: 5%;
		content: "\f078";
		color: #b5bdc3;
	}

	.main-navigation ul > li.active-sub-menu:after {
		content: "\f106";
	}

	.main-navigation ul > li.menu-item-has-children:hover:after {
		color: #b5bdc3;
	}

	.main-navigation .current-cart .widget:before,
	.main-navigation ul ul:before,
	.main-navigation ul ul ul li:first-child:before {
		display: none;
	}

	.main-navigation ul {
		display: block;
		margin-bottom: 0;
		padding: 0;
		text-align: left;
		background: transparent;
		animation: smoothFade .5s;
		-moz-animation: smoothFade .5s;
		-webkit-animation: smoothFade .5s;
		-o-animation: smoothFade .5s;
	}

	.header-wrap, .logo, .hero-title {
		animation: smoothFade .5s;
		-moz-animation: smoothFade .5s;
		-webkit-animation: smoothFade .5s;
		-o-animation: smoothFade .5s;
	}

	.main-navigation li {
		width: 100%;
		border-bottom: dotted 1px rgba(255,255,255,0.3);
	}

	.main-navigation li:last-child {
		border-bottom: none;
	}

	.main-navigation li:hover {
		cursor: pointer;
	}

	.main-navigation ul ul {
		position: relative;
		top: auto;
		left: auto;
		z-index: 100;
		margin-left: 0 !important;
		visibility: visible;
		opacity: 1;
		display: none;
		-webkit-transition: none;
		transition: none;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		width: 100%;
		padding: 0;
		background: transparent;
	}

	.main-navigation ul ul a {
		padding: 0;
	}

	.main-navigation ul ul ul {
		top: auto;
		left: auto;
		padding-left: 5%;
	}
}

.titlelarge {
	background: #76bd43;
	color: #FFF;
	display: block;
	margin: 0;
	padding: 48px 24px;
	position: relative;
	text-align: center;
	width: 100%;
}

body.fl-builder .titlelarge {
	display: none;
}

.titlelarge h1 {
	color: #FFF;
	font-size: 58px;
	line-height: 1;
	margin: 0;
}

/** Title Large Subtitle */

span.intro-sub:before {
    content: '';
    background: #FFF;
    width: 48px;
    height: 4px;
    display: block;
    margin: 12px auto;
}

/*--------------------------------------------------------------
## Content
--------------------------------------------------------------*/

div#primary,
section#primary {
    margin-top: 42px;
	margin-bottom: 24px;
}

@media screen and (max-width:1100px) {
	div#primary,
	section#primary {
		float: left;
		width: 100%;
	}
}

.hentry {
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	float: left;
	padding: 0;
	width: 100%;
}

/* Entry title */

.entry-header {
	margin: 0;
	padding: 20px 20px 0 20px;
	position: relative;
	text-align: center;
}

.has-post-thumbnail .entry-header {
	margin: 0;
}

.has-post-thumbnail .type-products .entry-header {
  margin: 0;
  padding: 20px 20px 0 20px;
}

h1.entry-title,
h2.entry-title {
    font-size: 42px;
    line-height: 1.2;
	margin-top: 0;
	margin-bottom: 20px;
}

h1.entry-title a,
h1.entry-title a:visited,
h2.entry-title a,
h2.entry-title a:visited {
	color: #76bd43;
}

h1.entry-title a:hover,
h2.entry-title a:hover {
	color: #454545;
}

span.entry-subtitle {
	display: none !important;
    font-weight: 300;
}

.entry-content h1.entry-title span.entry-subtitle {
    display: block !important;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 20px;
}

/* Featured Image */

.featured-image {
	position: relative;
}

.featured-image::before {
	border: 5px solid #FFF;
	border-radius: 50%;
	content: '\f0c1';
	color: #FFF;
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-size: 48px;
	margin: 0;
	min-width: 120px;
	opacity: 0;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transition: all .5s ease;
	z-index: 999;
	margin-left: -60px;
	margin-top: -60px;
}

.featured-image:hover::before {
	opacity: 1;
}

body.single .featured-image:hover::before {
	opacity: 0;
}

/* Entry meta */

.entry-meta {
	color: #AAA;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.2;
}

.entry-meta a,
.entry-meta a:visited {
	color: #AAA;
}

.entry-meta a:hover {
	color: #454545;
}

span.edit-link {
    margin-left: 0;
    display: block;
}

.entry-meta.absolute {
	background: #f8f8f8;
	border-top-right-radius: 3px;
	position: absolute;
	top: 0;
	right: 15px;
	padding: 10px;
}

.entry-meta.absolute span.edit-link {
	margin-left: 0;
}

.comments-link {
	margin-right: 10px;
}

.entry-meta span.wpd-productinfo {
    margin: 0 5px;
}

/* Entry content */

.entry-content {
	margin: 0;
	padding: 24px 24px;
}

.entry-content p {
	margin: 18px 0;
}

.entry-content p:first-child {
    margin-top: 0;
}

.entry-content :last-child {
    margin-bottom: 0;
}

.entry-content .wpd-menu-item:last-child {
	margin-bottom: 12px;
}

/** Inventory Management */
.entry-content .warning p:first-child {
	margin-top: 12px;
}

.entry-content .carousel-item p,
.entry-content .wpdshortcode p {
    margin: 12px 0 0 0;
}

.wp-caption-text,
span.caption.text-muted {
    color: #AAA;
    display: block;
    font-size: 14px;
    margin: 6px 0 0 0;
    text-align: center;
}

/* Entry footer */

.entry-footer {
	border-top: 1px solid #EEE;
	font-size: 15px;
	line-height: 1.2;
	margin-top: 24px;
	padding: 24px 0 0 0;
	position: relative;
}

article.type-post .entry-footer {
	padding: 24px;
}

.posted-on {
	color: #AAA;
	line-height: 1.6;
}

.category-link {
	float: right;
	font-size: 13px;
	font-weight: 600;
	max-width: 75%;
	text-align: right;
}

.category-link a,
.category-link a:visited {
    background: #EEE;
    border-radius: 15px;
    color: #AAA;
	display: inline-block;
    padding: 5px 10px;
}

.category-link a:hover {
	color: #454545;
}

.tags-links.nodate {
	display: block;
	float: none;
	max-width: 100%;
	text-align: right;
}

.tagcloud a,
.tagcloud a:visited {
    background: #EEE;
    border-radius: 15px;
    color: #AAA;
	display: inline-block;
	font-size: 15px !important;
    padding: 5px 10px;
}

.tagcloud a:hover {
	color: #454545;
}

/* Page header */

.page-header {
	font-size: 15px;
	margin: 0 0 1.5em 0;
	padding: 24px 48px;
	text-align: center;
}

.page-header h1.page-title {
	margin: 0;
	padding: 0;
}

.page-header p {
	margin: 12px 0 0 0;
}

/* Featured image */

.featured-image {
	display: block;
}

.attachment-large-image {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	opacity: 1;
	transition: all .5s ease;
	width: 100%;
}

.attachment-large-image:hover {
    opacity: 0.5;
}

body.single .attachment-large-image:hover {
	opacity: 1.0;
}

/* Blockquotes */

blockquote {
	margin: 24px 0;
	padding: 0 20px;
}

blockquote ol:last-child,
blockquote p:last-child,
blockquote ul:last-child {
    margin: 12px 0;
}

/* Next/Previous links */

nav.navigation.pagination {
	text-align: center;
    width: 100%;
}

.nav-links a {
    background: #FFF;
    border-radius: 3px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    display: inline-block;
	margin: 6px 0;
    padding: 20px 20px;
}

.page-numbers.current,
.page-numbers.dots {
    background: #FFF;
    border-radius: 3px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
    display: inline-block;
    padding: 20px 20px;
}

/** 404 Pages */

article.hentry.no-results.not-found {
    width: 98%;
}

/*--------------------------------------------------------------
## Custom Post Types
--------------------------------------------------------------*/

body.tax-wpd_categories .hentry .entry-header,
body.tax-wpd_categories .hentry .entry-footer,
body.tax-aromas .hentry .entry-header,
body.tax-aromas .hentry .entry-footer,
body.tax-flavors .hentry .entry-header,
body.tax-flavors .hentry .entry-footer,
body.tax-effects .hentry .entry-header,
body.tax-effects .hentry .entry-footer,
body.tax-conditions .hentry .entry-header,
body.tax-conditions .hentry .entry-footer,
body.tax-symptoms .hentry .entry-header,
body.tax-symptoms .hentry .entry-footer,
body.tax-ingredients .hentry .entry-header,
body.tax-ingredients .hentry .entry-footer,
body.tax-vendors .hentry .entry-header,
body.tax-vendors .hentry .entry-footer,
body.tax-allergens .hentry .entry-header,
body.tax-allergens .hentry .entry-footer,
body.tax-shelf_types .hentry .entry-header,
body.tax-shelf_types .hentry .entry-footer,
body.tax-strain_types .hentry .entry-header,
body.tax-strain_types .hentry .entry-footer {
	padding: 24px;
}

body.tax-wpd_categories .hentry .entry-header h2.entry-title,
body.tax-aromas .hentry .entry-header h2.entry-title,
body.tax-flavors .hentry .entry-header h2.entry-title,
body.tax-effects .hentry .entry-header h2.entry-title,
body.tax-conditions .hentry .entry-header h2.entry-title,
body.tax-symptoms .hentry .entry-header h2.entry-title,
body.tax-ingredients .hentry .entry-header h2.entry-title,
body.tax-vendors .hentry .entry-header h2.entry-title,
body.tax-allergens .hentry .entry-header h2.entry-title,
body.tax-shelf_types .hentry .entry-header h2.entry-title,
body.tax-strain_types .hentry .entry-header h2.entry-title {
	font-size: 28px;
}

body.post-type-archive-products nav.navigation.posts-navigation,
body.tax-wpd_categories nav.navigation.posts-navigation,
body.tax-aromas nav.navigation.posts-navigation,
body.tax-flavors nav.navigation.posts-navigation,
body.tax-effects nav.navigation.posts-navigation,
body.tax-symptoms nav.navigation.posts-navigation,
body.tax-conditions nav.navigation.posts-navigation,
body.tax-ingredients nav.navigation.posts-navigation,
body.tax-vendors nav.navigation.posts-navigation,
body.tax-allergens nav.navigation.posts-navigation,
body.tax-shelf_types nav.navigation.posts-navigation,
body.tax-strain_types nav.navigation.posts-navigation {
    float: left;
    margin: 1%;
    width: 98%;
}

/** Vendors - logo archive */

.vendor-logo {
    display: block;
    float: left;
	margin-top: 24px;
	position: relative;
    text-align: center;
	width: 100%;
}

.dispensary-category {
	float: right;
	font-size: 13px;
	font-weight: 600;
	max-width: 75%;
	text-align: right;
}

.dispensary-category a,
.dispensary-category a:visited {
    background: #EEE;
    border-radius: 15px;
    color: #AAA;
	display: inline-block;
    padding: 5px 10px;
}

.dispensary-category a:hover {
	color: #454545;
}

.dispensary-comments {
	color: #AAA;
	font-size: 15px;
	font-weight: 600;
	line-height: 1.6;
}

.dispensary-comments a,
.dispensary-comments a:visited {
	color: #AAA;
}

.dispensary-comments a:hover {
	color: #454545;
}

i.fa.fa-comment.hide-comments {
    color: #FFF;
}

/**
 * WP Dispensary shortcode title
 */

h2.wpd-title {
	color: #454545;
}

h2.wpd-title:after {
	content: '';
	display: block;
	margin: 12px auto;
	background: #DDD;
	height: 4px;
	width: 42px;
}

body.home .wpd-title {
	font-size: 34px;
	line-height: 1;
    text-align: center;
}

body.wp-dispensary.dispensary-menu h1.entry-title {
    font-size: 48px;
	line-height: 1;
	text-align: center;
}

body.wp-dispensary.dispensary-menu h1.entry-title span.entry-title-primary:after {
	content: '';
	display: block;
	margin: 12px auto;
	background: #DDD;
	height: 4px;
	width: 42px;
}

body.home .metaslider {
	overflow: hidden;
}

body.home #mc_embed_signup input#mc-embedded-subscribe {
	background: #76bd43;
}

body.home #mc_embed_signup input#mc-embedded-subscribe:hover {
	background: #87d74d;
}

body.home .hebe .tp-tab-title,
body.home .tp-caption.Newspaper-Subtitle, .Newspaper-Subtitle {
	color: #76bd43;
}

/*--------------------------------------------------------------
## Sidebar
--------------------------------------------------------------*/

div#secondary {
    margin-top: 42px;
	margin-bottom: 24px;
}

@media screen and (max-width:1100px) {
	div#secondary {
		float: left;
		margin-top: 0;
		width: 100%;
	}
}

.widget-area .widget {
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	display: inline-block;
	font-size: 15px;
	padding: 24px;
	width: 100%;
}

h2.widget-title {
	color: #AAA;
    font-size: 28px;
    line-height: 1.3;
	margin-top: 0;
	margin-bottom: 12px;
	text-align: center;
}

h2.widget-title:after {
    content: '';
    width: 48px;
    height: 4px;
    margin: 6px auto 0 auto;
    display: block;
    background: #DDD;
}

.widget-area .widget ul {
	list-style: none;
    margin: 0;
    padding: 0 0 0;
}

.widget-area .widget ul li {
	padding: 0;
}

.widget-area .widget ul li:before {
    color: #AAA;
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}

.widget-area .widget.woocommerce ul li:before,
.widget-area .widget ul.wp-dispensary-list li:before {
	display: none;
}

.widget label {
	margin-bottom: 0;
    max-width: 100%;
    width: 100%;
}

form.search-form {
	position: relative;
}

input.search-field {
    width: 100%;
}

.widget_search .search-submit {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: inline-block;
    padding: 11.5px 20px;
    position: absolute;
    top: 0;
    right: 0;
}

/* WP Dispensary pricing table */

.cannabiz-table {
  color: #76bd43;
}

.cannabiz-table span {
    color: #AAA;
}

.cannabiz-title {
    background: #f1f1f1;
    font-weight: 600;
    color: #000;
}

.cannabiz-table td {
	border: 1px solid #DDD;
    padding: 10px !important;
}

/* WP Dispensary widgets */

.wpdispensary-widget a {
	position: relative;
}

.wpdispensary-widget img::before {
	border: 5px solid #FFF;
	border-radius: 50%;
	content: '\f0c1';
	color: #FFF;
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	font-size: 48px;
	margin: 0;
	min-width: 120px;
	opacity: 0;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transition: all .5s ease;
	z-index: 999;
	margin-left: -60px;
	margin-top: -60px;
}

.wpdispensary-widget:hover::before {
	opacity: 1;
}


/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer {
	background: #76bd43;
	color: #FFF;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.site-footer .widget {
	font-size: 15px;
	line-height: 1.2;
	margin: 24px 0;
}

.site-footer p {
	margin: 12px 0;
}

.site-footer .widgets {
	border-bottom: 1px dotted rgba(255,255,255,0.5);
	padding: 12px 0;
}

.site-footer .widget h3 {
	color: #FFF;
    font-size: 28px;
    font-weight: 400;
    line-height: 1;
    margin-top: 0;
}

.site-footer .widget ul {
	list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer .widget ul li {
	padding: 3px 0;
}

.site-footer .widget ul li:before {
    color: #FFF;
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}

.site-footer .widget a,
.site-footer .widget a:visited {
	color: #FFF;
}

.site-footer .widget a:hover {
	color: rgba(255,255,255,0.5);
}

.site-footer .widget ul li.page_item_has_children {
    padding-bottom: 0;
}

.site-footer .widget ul.children {
    margin: 3px 0 0 12px;
}

.site-footer .widget ul.children li ul.children {
	margin: 3px 0 0 12px;
}

.site-footer .widget ul.children li.page_item_has_childre ul li {
	margin-top: 0;
}

.site-footer .widget h3 {
	border-top: 1px dotted #333;
	padding-top: 15px;
	margin-bottom: 12px;
}

.site-footer .widget h3:first-child {
	border: 0;
	padding-top: 0;
}

.site-footer span.wpdispensary-widget-categories a,
.site-footer span.wpdispensary-widget-categories a:visited {
    background: rgba(255,255,255,0.4);
}

.site-footer input[type=submit] {
    display: none;
}

.site-footer .bottom {
	padding: 0;
}

.site-footer .copyright {
	color: #FFF;
	font-size: 14px;
	font-weight: 300;
	padding: 18px 15px;
}

.site-footer .copyright a,
.site-footer .copyright a:visited {
	color: #FFF;
}

.site-footer .copyright a:hover {
	color: rgba(255,255,255,0.5);
}

.site-footer .col-lg-6.menu {
	color: #FFF;
	font-size: 14px;
	font-weight: 300;
	padding: 18px 15px;
	text-align: right;
}

@media screen and (max-width: 768px) {
	.site-footer .col-lg-6.menu {
		text-align: center;
	}
}

.site-footer .col-lg-6.menu a,
.site-footer .col-lg-6.menu a:visited {
	color: #FFF;
}

.site-footer .col-lg-6.menu a:hover {
	color: rgba(255,255,255,0.5);
}

.site-footer .col-lg-6.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-footer .col-lg-6.menu ul li {
	display: inline-block;
	margin-left: 12px;
}

.site-footer .col-lg-6.menu ul,
span.footer-social {
    display: inline-block;
}

span.footer-social {
	margin-left: 12px;
}

span.footer-social a {
	margin: 0 0 0 6px;
}

@media screen and (max-width: 768px) {
	span.footer-social {
		margin-top: 6px;
	}
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

ol.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.comment-list li {
    border-bottom: 1px dotted #DDD;
    padding: 24px 0;
}

.comment-author.vcard {
    display: inline-block;
	margin-right: 6px;
}

.comment-author.vcard:after {
    color: #DDD;
    content: '\00B7';
    margin-left: 6px;
    -webkit-font-smoothing: antialiased;
}

.comment-author.vcard img {
    border-radius: 50%;
}

span.says {
    display: none;
}

.comment-metadata {
    display: inline-block;
	font-size: 15px;
}

.comment-metadata a,
.comment-metadata a:visited {
    color: #DDD;
}

.comment-metadata a:hover {
	color: #454545;
}

.comment-metadata:after {
    content: '';
    display: block;
    height: 6px;
    width: 100%;
}

.comment-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.comment-meta {
    flex-basis: 30%;
}

.comment-awaiting-moderation {
    display: block;
}

.comment-content {
    flex: 1;
}

a.comment-reply-link:before {
    color: #DDD;
    content: '\f112';
    font-family: 'Font Awesome 5 Free';
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}

ol.comment-list ol.children {
    border-top: 1px dotted #DDD;
    margin: 15px 0 0 0;
    padding-left: 25px;
}

ol.comment-list ol.children li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.comments {
	background: #FFF;
	border-radius: 3px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.1);
	float: left;
	padding: 24px;
	width: 100%;
}

#comments label {
	width: 100%;
}

#comments input {
	max-width: 100%;
}


/*--------------------------------------------------------------
## WooCommerce
--------------------------------------------------------------*/

.product .entry-summary {
    margin-top: 0;
}

.woocommerce ul.products li.product .price del {
	display: inline-block;
}

.woocommerce span.onsale {
    min-height: 3.736em;
    min-width: 3.736em;
}

.woocommerce .woocommerce-product-rating .star-rating,
.woocommerce .star-rating span::before {
	color: #454545;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
	padding: 5px 10px;
}

.woocommerce-page #content table.cart td.actions #coupon_code.input-text {
    width: 160px;
}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
    opacity: .2;
    color: #000;
}

.woocommerce ul.products li.product h3 {
	font-size: 24px;
	font-weight: 400;
}

.woocommerce ul.products li.product a h3,
.woocommerce ul.products li.product a:visited h3 {
    color: #454545;
}

.woocommerce ul.products li.product a:hover h3,
.woocommerce ul.products li.product a:active h3,
.woocommerce ul.products li.product a:focus h3 {
    color: #454545;
}

.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	margin-left: 10px;
}

.woocommerce-checkout #payment div.payment_box p,
.woocommerce-checkout #payment div.payment_box p:last-child {
	margin: 12px 0;
}

.woocommerce .woocommerce-checkout #payment div.payment_box::after {
	display: none;
}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: #76bd43;
}

.woocommerce ul.products li.product .price {
	text-align: center;
}

.woocommerce-variation-price {
    margin-bottom: 12px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
}

.woocommerce ul.products li.product a.woocommerce-LoopProduct-link {
	color: #454545;
}

.woocommerce ul.products li.product a.woocommerce-LoopProduct-link:hover {
	color: #76bd43;
}

span.posted_in,
span.tagged_as,
span.sku_wrapper {
    display: block;
    font-size: 13px;
    font-weight: 600;
}

span.posted_in a,
span.tagged_as a,
span.sku_wrapper span.sku {
	font-weight: 300;
}

.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    padding: 5px;
}

td.value select {
    font-size: 14px;
    padding: 10px;
	border-radius: 3px;
	line-height: 1.2;
}

.woocommerce div.product form.cart .variations td.label {
    padding: 0px;
    line-height: 32px;
}

.woocommerce div.product form.cart .variations td.label label {
	color: #454545;
    padding: 2px 0;
}

ul.product_list_widget span.woocommerce-Price-amount.amount {
    color: #AAA;
    font-size: 12px;
}

.hentry nav.woocommerce-MyAccount-navigation ul {
    padding-left: 0;
}

.woocommerce .woocommerce-breadcrumb {
    font-size: 13px;
    color: #AAA;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-breadcrumb a:visited {
	color: #777;
}

.woocommerce .woocommerce-breadcrumb a:hover {
	color: #AAA;
}

.woocommerce-product-details__short-description {
    font-size: 14px;
}

.entry-content .woocommerce-product-details__short-description :last-child {
	margin-bottom: 24px;
}

.woocommerce form .form-row .input-checkbox {
    position: relative;
}

.woocommerce-MyAccount-navigation {
    background: transparent;
    font-size: 16px;
	line-height: 1;
}

.woocommerce-MyAccount-navigation ul {
	margin: 0;
	padding: 0;
}

.woocommerce-MyAccount-navigation ul li:before {
	display: none;
}

.woocommerce-MyAccount-navigation ul li {
    padding: 10px 0;
    font-size: 15px;
	margin-bottom: 1px;
}

.woocommerce-MyAccount-navigation ul li a {
	color: #454545;
}

.woocommerce-MyAccount-navigation ul li a:hover {
	color: #76bd43;
}


.woocommerce-MyAccount-navigation ul li a:before {
    color: #76bd43;
    content: "\f138";
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    min-width: 20px;
    text-align: center;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-address a:before {
    content: "\f2b9";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads a:before {
    content: "\f13a";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--dashboard a:before {
    content: "\f015";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--orders a:before {
    content: "\f0d6";
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--edit-account a:before {
    content: "\f007";
}

.entry-content .woocommerce-MyAccount-content p {
    margin-top: 0;
}

.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    padding: 5px;
    font-size: 14px;
}

.woocommerce-result-count {
	padding: 5px 0;
    font-size: 14px;
}

ul.product_list_widget span.reviewer {
    display: none;
}

ul.product_list_widget li,
.woocommerce ul.product_list_widget li {
    margin-bottom: 10px;
}

ul.product_list_widget li .star-rating,
ul.product_list_widget li .star-rating span::before {
    font-size: 12px !important;
}

/** Empty Cart Message in Cart widget */
p.woocommerce-mini-cart__empty-message {
    text-align: center;
}

/** WooCommerce Checkout Select Boxes */
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 5px;
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 38px;
}

/** WooCommerce Checkout Coupon Code */

.woocommerce form.checkout_coupon .form-row input.input-text {
    padding: 6px 10px;
}

/** WooCommerce checkout different shipping address */

h3#ship-to-different-address {
    font-size: 22px;
    line-height: 1.4;
    margin: 24px 0;
}

label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
    margin-top: 0;
}

input#ship-to-different-address-checkbox {
    margin-top: 12px;
}

/** WooCommerce checkout payment method */

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: transparent;
    border-radius: 0;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods,
#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
	border-bottom: 0;
	padding-bottom: 0;
	padding: 1em 0;
}

#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
    background-color: #EEE;
}

#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
	content: '';
    display: block;
	border: 1em solid #EEE;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -.75em;
    left: 0;
    margin: -1em 0 0 2em;
}

.entry-content .woocommerce-MyAccount-content form p {
    margin: 12px 0;
}

/** WooCommerce Error notices */

.hentry ul.woocommerce-error li:before {
	display: none;
}

/** WooCommerce Shipping Methods */

ul#shipping_method li:before {
	display: none;
}

/** Delivery Drivers for WooCommerce Styles */

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--driver-dashboard a:before {
    content: "\f1b9";
}

@media screen and (max-width: 767px) {
	h3.ddwc {
		margin-top: 24px;
	}
}

h3.ddwc span {
    text-transform: none;
    font-family: 'Open Sans', Arial, Sans-serif;
    margin-top: 4px;
}

/** Customer Loyalty for WooComerce Styles */

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--customer-loyalty a:before {
    content: "\f155";
}

/** WooCommerce Order Details */

.woocommerce ul.order_details {
    padding-left: 0;
}

.woocommerce ul.order_details li:before {
	display: none;
}

/** WooCommerce Edit Account Fields */

p.woocommerce-form-row.form-row span em {
    font-size: 0.85em;
}

.woocommerce-EditAccountForm.edit-account fieldset {
    display: block;
    margin-top: 24px;
}

.woocommerce-EditAccountForm.edit-account legend {
    display: inline-block;
    font-size: 24px;
    margin: 0 0 24px 0;
}

.woocommerce form .form-row {
    padding: 3px 0;
}

/** WooCommerce Shop Loop Page Numbers */

.woocommerce nav.woocommerce-pagination ul {
	border: 0;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
	padding: 12px 16px;
}

.woocommerce nav.woocommerce-pagination ul li {
    border: 0;
    padding: 0;
		margin: 0 3px;
}

.woocommerce nav.woocommerce-pagination ul li a.next {
    color: #AAA;
}

/** WooCommerce Messages */

.woocommerce-message {
	border-top-color: #76bd43;
	line-height: 2;
}

.woocommerce-message::before {
    content: '\e015';
    color: #76bd43;
}

.entry-content .woocommerce_message:last-child {
	margin-bottom: 2em;
}

/** WooCommerce Order Thank You Page */

.woocommerce ul.order_details li {
    margin-right: 1em;
    padding-right: 1em;
}

/** WooCommerce Customer Order Details page */

.woocommerce-column--billing-address h2.woocommerce-column__title,
.woocommerce-column--shipping-address h2.woocommerce-column__title {
    font-size: 28px;
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email,
.woocommerce .woocommerce-customer-details .woocommerce-customer-details--phone {
    margin: 9px 0;
}

/** Dokan Multivendor Marketplace */

.hentry .dokan-dashboard-wrap li:before {
	display: none;
}

@media screen and (min-width:768px) {
	.hentry .dokan-dashboard .dokan-dashboard-content {
		width: 78%;
	}

	.hentry .dokan-dashboard .dokan-dash-sidebar {
		width: 22%;
	}
}

.hentry .dokan-dashboard .dokan-dashboard-content article.dashboard-content-area .dashboard-widget.big-counter ul {
	padding-left: 0;
}

.hentry .dokan-dashboard-content ul.list-unstyled.list-count {
    padding-left: 0;
}

.hentry .dokan-store-sidebar ul {
	padding-left: 0;
}

.hentry .dokan-store-sidebar ul li:before,
.hentry .dokan-single-store ul li:before {
	display: none;
}

/** Dokan - Buttons */

.hentry input[type="submit"].dokan-btn-theme,
.hentry a.dokan-btn-theme,
.hentry .dokan-btn-theme {
    color: #FFF;
    background: #76bd43 !important;
	border-color: #76bd43 !important;
}

.hentry input[type="submit"].dokan-btn-theme:hover,
.hentry a.dokan-btn-theme:hover,
.hentry .dokan-btn-theme:hover,
.hentry input[type="submit"].dokan-btn-theme:focus,
.hentry a.dokan-btn-theme:focus,
.hentry .dokan-btn-theme:focus,
.hentry input[type="submit"].dokan-btn-theme:active,
.hentry a.dokan-btn-theme:active,
.hentry .dokan-btn-theme:active,
.hentry input[type="submit"].dokan-btn-theme.active,
.hentry a.dokan-btn-theme.active,
.hentry .dokan-btn-theme.active,
.hentry .open .dropdown-toggleinput[type="submit"].dokan-btn-theme,
.hentry .open .dropdown-togglea.dokan-btn-theme,
.hentry .open .dropdown-toggle.dokan-btn-theme {
	background: #87d74d !important;
	border-color: #87d74d !important;
}

/** Dokan - Vendor Info Tab */

div#tab-seller ul {
    padding-left: 0;
}

div#tab-seller ul li:before {
	display: none;
}

div#tab-seller ul li {
	margin-bottom: 0.5em;
}

/** Dokan - Cart Widget */

.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dt.variation-Vendor,
.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd.variation-Vendor {
	font-size: 13px;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.woocommerce ul.cart_list li dl dd, .woocommerce ul.product_list_widget li dl dd.variation-Vendor p {
    margin-top: 0 !important;
}

/** Dokan - Checkout product list */

.woocommerce td.product-name dl.variation {
    font-size: 12px;
}

/*--------------------------------------------------------------
## Gutenberg
--------------------------------------------------------------*/

.alignwide {
    width: auto;
    max-width: 1000%;
    margin-right: calc(25% - 25vw);
    margin-left: calc(25% - 25vw);
}

.alignfull {
    width: auto;
    max-width: 1000%;
    margin-right: calc(50.75% - 50vw);
    margin-left: calc(50.75% - 50vw);
}

.alignwide > *,
.alignfull > * {
    width: 100%;
}

/*--------------------------------------------------------------
## Age Verification
--------------------------------------------------------------*/

.wpd-av h2 {
	border-bottom: 0;
	color: #AAA;
	margin-bottom: 0;
}

.wpd-av h2:after {
	content: '';
	background: #DDD;
	height: 4px;
	width: 48px;
	margin: 12px auto 0 auto;
	display: block;
}

.wpd-av p {
	margin-bottom: 4px;
}

/*--------------------------------------------------------------
## Responsive
--------------------------------------------------------------*/

@media screen and (max-width:768px) {

	.topbar {
		text-align: center;
	}

	.topbar-social,
	.topbar-email,
	.topbar-phone {
		float: none;
		padding-bottom: 10px;
	}

	.topbar-phone {
		margin-left: 7px;
	}

	.topbar-social {
		margin-left: 2px;
	}

	.site-branding {
		padding-bottom: 24px;
		padding-top: 24px;
	}

	.site-header.scroll-to-fixed-fixed .site-branding { padding-bottom: 0; }

	body.tax-wpd_categories .hentry,
	body.tax-aromas .hentry,
	body.tax-flavors .hentry,
	body.tax-effects .hentry,
	body.tax-conditions .hentry,
	body.tax-symptoms .hentry,
	body.tax-ingredients .hentry,
	body.tax-vendors .hentry,
	body.tax-allergens .hentry,
	body.tax-shelf_types .hentry,
	body.tax-strain_types .hentry {
		float: left;
		margin: 1%;
		width: 48%;
	}

	.site-footer .copyright {
		padding: 18px 0 0 0;
	}

	.col-lg-6.copyright,
	.site-footer .menu,
	span.footer-social {
		text-align: center;
	}

	span.footer-social {
		margin-left: 0;
		display: block;
	}

	.site-footer .widget ul {
		text-align: left;
	}

	.entry-header,
	.type-products .entry-header {
		margin: 0;
	}

	.featured-image::before {
		min-width: 88px;
		font-size: 24px;
		margin-left: -45px;
		margin-top: -45px;
	}

}


@media screen and (max-width:600px) {

	.intro-title {
		font-size: 32px;
	}

	span.intro-sub {
		font-size: 16px;
	}

	.site-intro a.button {
		display: block;
		margin: 6px 12px;
	}

	span.tags-links {
		display: none;
	}

	.has-post-thumbnail .entry-header {
		padding: 24px 12px 0;
		margin: 0;
	}

	h1.entry-title,
	h2.entry-title {
		font-size: 30px !important;
	}

	.entry-header,
	.entry-content,
	.entry-footer,
	.comments {
		padding: 24px 12px;
	}

	.mobilehide { display: none; }

	/** WP Dispensary codes */

	.wpdshortcode img {
		width: 100%;
	}

	/* Forms */

	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	textarea {
		width: 100%;
	}

}
